html,
body {
    margin: 0;
    /*
    background: #a6d8bf;
*/
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #555;
}

a {
    text-decoration: none;
    /**/
}

table {
    border-collapse: collapse;
}
