@import '_common.scss';

.detail-banner{
    margin-top: 65px;
    overflow: hidden;
    position: relative;
    .d-img{
        width: 200%;
        display: flex;
        p{
            width: 100%;
        }
    }
    .d-nav{
        position: absolute;
        left: calc(50% - 24px); top: 8px;
        span{
            width: 14px; height: 14px;
            margin: 0 5px;
            border: 1px solid $mc;
            border-radius: 100%;
            display: inline-block;
        }
        span.active{
            background: $mc;
        }
    }
}
.detail-contents{
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: 0 -2px 2px $sw;
    .d-title{
        padding: 30px 30px 20px;
        position: relative;
        h2{
            font-size: 16px;
        }
        div{
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
        }
        p:nth-of-type(1){
            font-size: 24px;
            font-weight: bold;
            span{
                font-size: 24px;
                font-weight: bold;
            }
        }
        p:nth-of-type(2){
            width: 18px;
            margin: 4px 0;
        }
        &::after{
            content: '';
            width: 94%;
            border-bottom: 1px solid $sb;
            position: absolute;
            left: 3%; bottom: 0;
        }
    }
    .info{
        padding: 20px 16px;
        position: relative;
        dl{
            width: 100%;
            display: table;
            dt{
                width: 28%;
                display: table-cell;
            }
        }
        &::after{
            content: '';
            width: 94%;
            border-bottom: 1px solid $sb;
            position: absolute;
            left: 3%; bottom: 0;
        }
    }
    .d-contents-text{
        padding: 20px 0;
        .d-menu{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $sb;
            li{
                margin: 20px 30px 10px;
                color: $sb;
                &.active{
                    color: $b;
                    position: relative;
                }
            }
            li.active::after{
                content: '';
                width: 220%;
                border-bottom: 2px solid $b;
                position: absolute;
                left: -60%; bottom: -11px;
            }
        }
        .d-subtext{
            margin: 0 20px;
            div{
                margin: 20px 0;
                padding-bottom: 12px;
                border-bottom: 1px solid $sb;
                display: flex;
                justify-content: space-between;
            }
            p{
                font-size: 18px;
                font-weight: bold;
                color: $mc;
            }
            p:nth-of-type(2){
                margin: 4px 12px 0;
            }
            p>span{
                width: 18px; height: 18px;
                margin: 2px 1px;
            }
            p>span:nth-of-type(1):before{
                content: '';
                display: inline-block;
                height: 10px;
                border: 1px solid $b;
                background-color: $b;
                transform: rotate(-45deg);
            }
            p>span:nth-of-type(2):before{
                content: '';
                display: inline-block;
                height: 10px;
                border: 1px solid $b;
                background-color: $b;
                transform: rotate(45deg);
            }
            dt{
                font-weight: bold;
            }
            dt, dd{
                margin: 8px 0;
            }
        }
    }
}
.gocart{
    .gofixed{
        width: 100%;
        display: flex;
        position: fixed;
        left: 0; bottom: 0;
        p:nth-of-type(1){
            width: 84%;
            padding: 16px 0;
            font-size: 16px;
            text-align: center;
            background-color: $mc;
            color: $w;
        }
        p:nth-of-type(2){
            width: 16%;
            padding: 18px 0;
            background-color: $b;
            text-align: center;
            img{
                width: 28px;
            }
        }
    }
}