@import '_common.scss';

.slide-1{
    width: 100%;
    max-height: 950px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    .s1-nav{
        color: $w;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 4%; top: 34%;
        z-index: 100;
        span{
            display: inline-block;
        }
        span:nth-of-type(1){
            margin-right: 80px;
            padding-bottom: 2px;
        }
        span:nth-of-type(2){
            width: 100px;
            border: 1px solid $sb;
            transform: scaleY(.4);
            span{
                width: 34%;
                background: $w;
                border: 1px solid $w;
                position: absolute;
                left: -1px; top: -1px;
                transition: 1s;
            }
        }
        span:nth-of-type(3){
            margin-left: 80px;
            padding-top: 2px;
        }
    }
    .more{
        color: $w;
        font-size: 13px;
        letter-spacing: 2px;
        transform: rotate(-90deg);
        position: absolute;
        right: 0; bottom: 120px;
        z-index: 100;
    }
    .s1-img{
        width: 100%; 
        height: 124vw;
        position: relative;
        a{
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            &:nth-of-type(1){
                z-index: 5;
            }
            &:nth-of-type(2){
                z-index: 3;
            }
        }
        div{
            width: 100%; height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.slide-2{
    margin-top: 80vw;
    overflow: hidden;
    .s2-img{
        display: flex;
        justify-content: space-between;
        width: 200%;
        display: none;
        p{
            margin-right: 20px;
            box-shadow: 5px 10px 10px rgb(193, 193, 193);
        }
    }
    .s2-nav{
        width: 98%;
        margin: 30px 1%;
        border: 2px solid $sw;
        position: relative;
        span{
            width: 50%;
            transition: .5s;
            border: 2px solid $b;
            position: absolute;
            left: 0; top: -2px;
        }
        span.active{
            width: 100%;
        }
        display: none;
    }
}