@import url('common.css');

@font-face {
    font-family: "humun";
    src: url('../css/humun.ttf');
}

@font-face {
    font-family: "HCRDotum";
    src: url("../css/HCRDotum.ttf");
}

header {
    background: #12252d;
    height: 100%;
    position: fixed !important;
}

header .logo {
    padding: 5vw 0;
}

header .logo a {
    display: flex;
    justify-content: center;
}

header .logo a img {}

header .header_title {
    font-family: "humun", serif;
}

header .header_title h2 {
    font-size: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #27a98f;
    color: white;
}

header .header_title ul {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0 90px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;

}

header .header_title ul li {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header .header_title ul li img {
    margin-right: 20px;
    width: 22px;
    height: 75px;

}

header .header_title ul li a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #27a98f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .header_title ul li a.active {
    color: white;
}

header footer {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5% 5%;


}

header footer p {
    font-family: "HCRDotum", serif;
    white-space: pre-line;
    font-size: 8px;
    color: #27a98f;
}

/*====================main========================*/
main {
    float: right !important;
}

aside .ticket {
    width: 160px;
    height: 250px;
    background: #e6e6e6;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    right: 6%;
    z-index: 1;
}

aside .ticket .ticket_contents {
    width: 90%;
    margin: 0 auto;
    padding: 6px 0;
}

aside .ticket .ticket_contents > p {
    font-size: 2em;
    padding: 3px 0;
    background: #27a98f;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

aside .ticket .ticket_contents .date {
    font-size: 1.1em;
    font-weight: bold;

}

aside .ticket .ticket_contents .date a.active {
    background: #555;
    color: #fff;
}

aside .ticket .ticket_contents .date a {
    display: block;
    color: #555;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    margin: 8px 0;
}

aside .ticket .ticket_contents .amount {
    width: 100%;
    display: inline-block;
    position: relative;
}

aside .ticket .ticket_contents .amount > p {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 45%;
}

aside .ticket .ticket_contents .amount .minus {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #27a98f;
    position: absolute;
    top: -5px;
    left: 15%;
}

aside .ticket .ticket_contents .amount .minus span {
    color: #fff;
}

aside .ticket .ticket_contents .amount .plus {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #27a98f;
    position: absolute;
    top: -5px;
    right: 15%;
}

aside .ticket .ticket_contents .amount .plus span {
    color: #fff;
}

aside .ticket .ticket_contents .ok {
    font-size: 2em;
    margin-top: 18px;
    padding: 3px 0;
    background: #27a98f;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

aside .ticket .ticket_contents .ok a {
    color: #fff;
}

aside .ticket .sns {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

aside .ticket .sns a {}

aside .ticket .sns a:hover {
    text-decoration: none;
}

aside .ticket .sns a img {}

aside .ticket .top {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 40px solid #27a98f;
    position: relative;
    top: 150%;
    left: 0;
}

aside .ticket .top a {
    position: absolute;
    font-family: "humun", serif;
    font-size: 25px;
    color: #fff;
    top: 10px;
    left: -12px;
}

aside nav {
    height: 30px;
    position: absolute;
    right: 5%;
    top: 20px;
    color: #27a98f;
    width: 60%;
    z-index: 3;
}

aside nav .pop_up.active {
    visibility: visible;
    z-index: -1;
}
aside {
    width: 100%;
}

aside nav .pop_up {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    background: #12252d;
    z-index: 6;
    text-align: center;
    font-family: "humun", serif;
    font-size: 30px;
    opacity: .9;
    visibility: hidden;

}

aside nav .pop_up .pop_up_1 {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

aside nav .pop_up .pop_up_1 .pop_up_title {
    padding: 20px;
    font-size: 40px;
    color: #fff;

}

aside nav .pop_up .pop_up_2 .pop_up_title {
    padding: 20px;
    font-size: 40px;
    color: #fff;

}

aside nav .pop_up .pop_up_3 .pop_up_title {
    padding: 20px;
    font-size: 40px;
    color: #fff;

}

aside nav .pop_up .pop_up_4 .pop_up_title {
    padding: 20px;
    font-size: 40px;
    color: #fff;

}

aside nav .pop_up .pop_up_1 a {
    display: block;
    color: #27a98f;
}

aside nav .pop_up .pop_up_2 a {
    display: block;
    color: #27a98f;
}

aside nav .pop_up .pop_up_3 a {
    display: block;
    color: #27a98f;
}

aside nav .pop_up .pop_up_4 a {
    display: block;
    color: #27a98f;
}

aside nav .pop_up .pop_up_1 a:hover {
    color: #fff;
}

aside nav .pop_up .pop_up_2 a:hover {
    color: #fff;
}

aside nav .pop_up .pop_up_3 a:hover {
    color: #fff;
}

aside nav .pop_up .pop_up_4 a:hover {
    color: #fff;
}

aside nav .pop_up .pop_up_2 {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;

}

aside nav .pop_up .pop_up_3 {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
}

aside nav .pop_up .pop_up_4 {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 75%;
}
aside select {
    background: none;
    border: none;
    right: 0px;
    position: absolute;
    top: 2.3%;
    right: 1%;
    font-family: "humun", serif;
    font-size: 1.5em;
    z-index: 1;
    color: #27a98f;
}

aside select option {
    color: #27a98f;
}



aside .menu-trigger {
    width: 36px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    z-index: 1;
    /*transform: translateY(-50%);*/
}

aside .menu-trigger span {
    width: 100%;
    border-radius: 10px;
    height: 6px;
    background: #000;
    position: absolute;
    transition: .5s;
    background: #27a98f;

}

aside .menu-trigger span:nth-of-type(1) {
    top: 0;
    left: 0;
}

aside .menu-trigger span:nth-of-type(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

aside .menu-trigger span:nth-of-type(3) {
    bottom: 0;
    left: 0;
}


aside .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(45deg);

}


aside .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}


aside .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(-45deg);
}

main .page {
    height: 100%;
    padding: 100px 29.734% 14.867% 14.867%;
    position: relative;
}

main .page .main_title {
    font-family: "humun", serif;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

main .page .main_title h1 {
    font-size: 85px;
    color: #27a98f;

}

main .page .main_title .site_map {
    align-items: flex-end;
    color: #555;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

}

main .page .main_title .site_map .site_map_2 {
    position: relative;
    display: inline-block;
    color: #27a98f;
    text-decoration: underline;
}

main .page .main_title .site_map > .site_map_2:hover {
    text-decoration: none;
}

main .page .main_title .site_map > p {
    display: inline-block;
}

main .page .main_title .site_map > p:before {
    content: '> ';

}

main .page .main_title .site_map > .site_map_2 .menu_title {
    position: absolute;
    text-align: center;
    width: 120%;
    top: 100%;
    left: -10%;
    left: -10%;
    background: #faf9f7;
    visibility: hidden;


}

main .page .main_title .site_map > .site_map_2:hover .menu_title {
    visibility: visible;
}

main .page .main_title .site_map .site_map_2 .menu_title a {
    display: block;
    font-size: 14px;
    color: #555;
}


main .page .main_contents {
    height: 100%;
    line-height: 1.8;
    font-family: "HCRDotum", serif;
}
main .page .main_contents ul{
    width: 100%;
    height: 100%;

}
main .page .main_contents ul li:nth-of-type(1){
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: url('../img/img_2018.jpg');
    color: #376ce9;
}

main .page .main_contents ul li:nth-of-type(1) h2{
    font-weight: bold;
    font-size: 50px;
    margin-top: 8%;
}

main .page .main_contents ul li:nth-of-type(1) a{
    background: #924088;
}

main .page .main_contents ul .picture{
    width: 100%;
    height: 200px;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;

}
main .page .main_contents ul .picture img{
    width: 33%;
    height: 100%;
     border-radius: 10px;
}
main .page .main_contents ul .picture img:hover{
    transform: scale(2);
}

/*======================768======================*/

@media (max-width:767px) {
    header {
        background: #fff;
        height: 100%;
        position: absolute !important;
    }

    header .logo {
        width: 100%;
        padding: 0;
        background: #12252d;
        position: fixed !important;
        z-index: 3;
    }

    header .logo a {
        width: 10%;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
    }

    header .logo a img {
        height: 40px;
        margin: 5px 5px 5px 10px;
    }

    header .header_title {
        display: none;
    }

    header footer {
        display: none;
    }

    aside {
        width: 100%;
        height: 100%;
    }

    aside .ticket {
        background: none;
    }

    aside .ticket .ticket_contents {
        display: none;
    }

    aside .ticket .sns {
        display: none;
    }

    aside .ticket .top {
        position: absolute;
        top: 260%;
        left: 90%;
    }

    aside nav {
        width: 100%;
        position: fixed;
        right: 10px;
        top: 50px;
        color: #27a98f;
        z-index: 3;
    }

    aside .menu-trigger {
        width: 36px;
        height: 30px;
        position: fixed;
        right: 1%;
        top: 1%;
        margin-right: 0;
        z-index: 5;
    }

    aside select {
        background: none;
        border: none;
        right: 0px;
        position: fixed;
        top: 1.5%;
        right: 7%;
        font-family: "humun", serif;
        font-size: 1.5em;
        z-index: 4;
        color: #27a98f;
    }

    aside nav .pop_up {
        width: 100%;
        height: 400px;
        position: absolute;
        top: -2.2%;
        right: -1.4%;
        background: #12252d;
        z-index: 5;
        text-align: center;
        font-family: "humun", serif;
        font-size: 30px;
        opacity: .9;
        visibility: hidden;

    }

    aside nav .pop_up .pop_up_1 .pop_up_title {
        margin-top: 25px;
    }

    aside nav .pop_up .pop_up_2 .pop_up_title {
        margin-top: 25px;
    }

    aside nav .pop_up .pop_up_3 .pop_up_title {
        margin-top: 25px;
    }

    aside nav .pop_up .pop_up_4 .pop_up_title {
        margin-top: 25px;
    }

    main .page {
        padding: 50px 24px;
    }

    main .page .main_title {
        margin: 50px 0; 
    }
    main .page .main_title .site_map > .site_map_2 .menu_title {
        z-index: 8;
    }


}
    /*======================992======================*/
    @media (min-width:992px) and (max-width:1169px) {}

}

/*======================1170======================*/
@media (min-width:1170px) {}
